.calender-container {
	width: 320px;
	margin: 0 auto 50px;
}

.calender-container>.title {
	color: #bbb;
	font-weight: bold;
	margin-bottom: 10px;
	background: #555;
	padding: 5px 15px;
}

.adlink {
	text-align: center;
	font-size: 11pt;
}

.adlink a {
	text-decoration: none;
	display:block;
	color: #666;
	font-weight: bold;
	margin-bottom: 10px;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10pt;
	margin-top: 10pt;
}

.date{
	font-size:12pt;
	font-weight: 100;
	line-height: 30pt;
	text-align: center;
}

.split, .clear {
	clear: both;
	height: 1px;
	overflow-y: hidden;
}

.good, .bad {
	clear: both;
	position: relative;
}

.bad {
	/*top: -1px;*/
}
.good .title, .bad .title {
	float: left;
	width: 100px;
	position:absolute;
	top:0;
	bottom:0;
}
.title td{
	font-weight: normal !important;
	text-align: center !important;
	font-size: 24pt !important;
}

.good .title>table, .bad .title>table {
	position:absolute;
	width:100%;
	height:100%;
	border:none;
}

.good .title {
	background: #fff;
	
}

.someday .good .title {
	background: #aaaaaa;
}

.bad .title {
	background: #fff;
	color: #333;
}

.someday .bad .title {
	background: #666666;
	color: #fff;
}

.good .content, .bad .content {
	margin-left: 115px;
	padding-right: 10px;
	padding-top: 1px;
	font-size:15pt;
	padding:10px;
	border-left:1px solid #e1e1e1;
}

.someday .good {
	background: #dddddd;
}

.someday .bad {
	background: #aaaaaa;
}

.good {
	background: #ffffff;
	border-bottom:1px solid #e1e1e1;
}

.bad {
	background: #ffffff;
}

.content ul {
	list-style: none;
	margin:10px 0 0;
	padding:0;
}

.content ul li {
	line-height:150%;
	font-size: 14pt;
	font-weight: 100;
	color: #444;
}

.content ul li div.description {
	font-size: 8pt;
	font-weight: normal;
	color: #777;
	line-height: 110%;
	margin: 4px 0 10px;
}

.line-tip {
	font-size: 11pt;
	margin-top: 10px;
	margin-left: 10px;
}

.direction_value {
	color:#4a4;
	font-weight: bold;
}

.someday .direction_value {
	color:#888;
}

.goddes_value {
	color: #f87;
}

.someday .goddes_value {
	color: #777;
}
