<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blob.mapper.BlobTagMapper" >
  <resultMap id="BaseResultMap" type="com.blob.entity.BlobTag" >
    <constructor >
      <idArg column="tag_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="blob_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="tag_detail" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    tag_id, blob_id, tag_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where tag_id = #{tagId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tag
    where tag_id = #{tagId,jdbcType=BIGINT}
  </delete>
  <insert id="insertBlobTag" parameterType="blobTag">
    insert into tag
    (blob_id, tag_detail)
    values
    (
    #{blobId},
    #{tagDetail}
    )
  </insert>
  <insert id="insert" parameterType="com.blob.entity.BlobTag" >
    insert into tag (tag_id, blob_id, tag_detail
      )
    values (#{tagId,jdbcType=BIGINT}, #{blobId,jdbcType=BIGINT}, #{tagDetail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blob.entity.BlobTag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="blobId != null" >
        blob_id,
      </if>
      <if test="tagDetail != null" >
        tag_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="blobId != null" >
        #{blobId,jdbcType=BIGINT},
      </if>
      <if test="tagDetail != null" >
        #{tagDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blob.entity.BlobTag" >
    update tag
    <set >
      <if test="blobId != null" >
        blob_id = #{blobId,jdbcType=BIGINT},
      </if>
      <if test="tagDetail != null" >
        tag_detail = #{tagDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blob.entity.BlobTag" >
    update tag
    set blob_id = #{blobId,jdbcType=BIGINT},
      tag_detail = #{tagDetail,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=BIGINT}
  </update>
</mapper>