<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blob.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.blob.entity.Comment" >
    <constructor >
      <idArg column="comment_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="comment_isreply" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="blob_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="reply_comment_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.blob.entity.Comment" >
    <constructor >
      <idArg column="comment_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="comment_isreply" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="blob_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="reply_comment_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="comment_detail" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    comment_id, comment_isreply, user_id, blob_id, reply_comment_id
  </sql>
  <sql id="Blob_Column_List" >
    comment_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blob.entity.Comment" >
    insert into comment (comment_id, comment_isreply, user_id, 
      blob_id, reply_comment_id, comment_detail
      )
    values (#{commentId,jdbcType=BIGINT}, #{commentIsreply,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{blobId,jdbcType=BIGINT}, #{replyCommentId,jdbcType=BIGINT}, #{commentDetail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blob.entity.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="commentIsreply != null" >
        comment_isreply,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="blobId != null" >
        blob_id,
      </if>
      <if test="replyCommentId != null" >
        reply_comment_id,
      </if>
      <if test="commentDetail != null" >
        comment_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="commentIsreply != null" >
        #{commentIsreply,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="blobId != null" >
        #{blobId,jdbcType=BIGINT},
      </if>
      <if test="replyCommentId != null" >
        #{replyCommentId,jdbcType=BIGINT},
      </if>
      <if test="commentDetail != null" >
        #{commentDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blob.entity.Comment" >
    update comment
    <set >
      <if test="commentIsreply != null" >
        comment_isreply = #{commentIsreply,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="blobId != null" >
        blob_id = #{blobId,jdbcType=BIGINT},
      </if>
      <if test="replyCommentId != null" >
        reply_comment_id = #{replyCommentId,jdbcType=BIGINT},
      </if>
      <if test="commentDetail != null" >
        comment_detail = #{commentDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blob.entity.Comment" >
    update comment
    set comment_isreply = #{commentIsreply,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      blob_id = #{blobId,jdbcType=BIGINT},
      reply_comment_id = #{replyCommentId,jdbcType=BIGINT},
      comment_detail = #{commentDetail,jdbcType=LONGVARCHAR}
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blob.entity.Comment" >
    update comment
    set comment_isreply = #{commentIsreply,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      blob_id = #{blobId,jdbcType=BIGINT},
      reply_comment_id = #{replyCommentId,jdbcType=BIGINT}
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
</mapper>